<div luigiClientCommunication [isActive]="isActive">
  <fd-modal #editBindingModal role="dialog" aria-labelledby="confirm" (click)="$event.stopPropagation()">
    <fd-modal-header>Create Namespace Binding</fd-modal-header>
    <fd-modal-body>
      <div class="tn-form__group">
        <div class="error-message-placeholder" *ngIf="error"></div>
        <div class="tn-dropdown sf-dropdown environment-chooser"
          (clickOutside)="closeDropDown()"
          clickOutsideEvents="click,mousedown"
          excludeBeforeClick="true">
          <button class="tn-dropdown__control"
            aria-controls="nNJnB279"
            [attr.aria-expanded]="ariaExpanded"
            aria-haspopup="true"
            (click)="toggleDropDown()">
            <input class="filter-input"
              type="text"
              name="environmentName"
              placeholder="Choose namespace"
              [(ngModel)]="environmentName"
              (ngModelChange)="filterEnvsNames()"
              (keydown)="openDropDown($event)"
              (click)="openDropDown($event)">
          </button>
          <ul class="tn-dropdown__menu" [attr.aria-hidden]="ariaHidden" id="nNJnB279">
            <li class="tn-dropdown__item" *ngFor="let env of filteredEnvsNames" (click)="toggleDropDown(); selectedEnv(env);">{{ env.label }}</li>
          </ul>
        </div>
      </div>
    </fd-modal-body>
    <fd-modal-footer>
        <button fd-button [fdType]="'main'"
          ngClass="{{checkIfEnvironmentExists() ? '' : 'disabled'}}"
          [disabled]="!checkIfEnvironmentExists()"
          (click)="save()">OK</button>
    </fd-modal-footer>
  </fd-modal>
</div>
