<fd-modal class="fd-modal--large" #httpTriggerModal role="dialog">
  <fd-modal-header>{{ title }}</fd-modal-header>
  <fd-modal-body>
    <div class="fd-container fd-container--fluid y-fd-container--space-bottom y-fd-container--border-light">
      <div class="fd-col--3 y-fd-col--strong">HTTPS-endpoint</div>
      <div class="fd-col--8"><a class="link" href="{{ httpURL }}" target="_blank">{{ httpURL }}</a></div>
      <div class="fd-col--1"><button fd-button [options]="'light'" [glyph]="'copy'" [compact]="true" (click)="copyHTTPUrlEndpoint(i)"></button></div>
    </div>

    <div class="fd-container fd-container--flex">
      <div class="fd-col y-fd-col--strong">Security</div>
    </div>
    <div class="fd-container fd-container--flex y-fd-container--space-bottom">
      <div class="fd-col--10">HTTPS endpoint will be exposed securly over the internet</div>
    </div>

    <div class="fd-container fd-container--flex y-fd-container--space-bottom y-fd-container--border-light">
      <div class="fd-col">
        <input type="checkbox" id="secure" [(ngModel)]="secure" checked>
        <label for="secure">Enable Authentication</label>
      </div>
    </div>
    <div *ngIf="secure" class="fd-container fd-container--flex">
      <div class="fd-col y-fd-col--strong">Identity Provider</div>
      <div class="fd-col y-fd-col--popover-right">
        <fd-popover [compact]="true" [alignment]="'right'">
          <fd-popover-control>
            <button fd-button [options]="'light'" [glyph]="'slim-arrow-down'">Load preset</button>
          </fd-popover-control>
          <fd-popover-body *ngIf="availablePresets?.length">
            <fd-menu>
              <fd-menu-list>
                <li fd-menu-item  *ngFor="let preset of availablePresets">
                  <div (click)="selectPreset(preset)" id="{{preset.label}}">{{ preset.label }}</div>
                </li>
              </fd-menu-list>
            </fd-menu>
          </fd-popover-body>
        </fd-popover>
      </div>
    </div>

    <div class="fd-container fd-container--flex">
      <div class="fd-col fd-has-margin-bottom-small">
        <div fd-form-set>
          <div fd-form-item>
            <fd-form-label for="input-4">Issuer <sup>*</sup></fd-form-label>
            <input fd-form-control [type]="'text'" id="input-4" [(ngModel)]="issuer" (ngModelChange)="validateDetails()" (blur)="validateDetails()" [state]="errorIssuer ? 'invalid' : undefind">
            <fd-form-message [type]="'error'" *ngIf="errorIssuer">
              {{ errorIssuer }}
            </fd-form-message>
          </div>
        </div>
        <div fd-form-set>
          <div fd-form-item>
            <fd-form-label for="input-5">JWKS URI <sup>*</sup></fd-form-label>
            <input fd-form-control [type]="'text'" id="input-5" [(ngModel)]="jwksUri" (ngModelChange)="validateDetails()" (blur)="validateDetails()" [state]="errorJWKSUri ? 'invalid' : undefind">
            <fd-form-message [type]="'error'" *ngIf="errorJWKSUri">
              {{ errorJWKSUri }}
            </fd-form-message>
        </div>
        </div>
      </div>
    </div>
    <div *ngIf="isDefaultProvider()" class="fd-container fd-container--flex fd-has-padding-tiny">  
      <button fd-button [options]="'light'" (click)="fetchToken()">
        Fetch token
      </button>
    </div>
  </fd-modal-body>
  <fd-modal-footer>
    <button fd-button [options]="'light'" class="cancel" (click)="closeHttpTriggerModal()">Cancel</button>
    <button fd-button [fdType]="'main'" ngClass="{{secure && !isAbleToMakeRequest() ? '' : 'disabled'}}"
      [disabled]="secure && !isAbleToMakeRequest()" (click)=addTrigger()>Add</button>
  </fd-modal-footer>
</fd-modal>
<app-fetch-token-modal #fetchTokenModal></app-fetch-token-modal>
