.http-trigger-modal {
  .input-group {
    padding: 0;
    margin-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;

    label.required::after {
      content: ' *';
    }
  }

  input#secure+label {
    margin-left: 6px;
  }

  a {
    cursor: pointer;
  }
}