<section class="fd-section">
  <fd-action-bar>
    <fd-action-bar-header>
      <fd-action-bar-description>
        <fd-breadcrumb>
          <fd-breadcrumb-item>
            <a fd-breadcrumb-link (click)="navigateToList()" href="#">
              Applications
            </a>
          </fd-breadcrumb-item>
          <fd-breadcrumb-item>
            <span fd-breadcrumb-link>
              {{ currentREnvId }}
            </span>
          </fd-breadcrumb-item>
        </fd-breadcrumb>
      </fd-action-bar-description>
    </fd-action-bar-header>
    <fd-action-bar-actions>
      <button fd-button [options]="'light'" *ngIf="connectorServiceUrl || connectorServiceError"
        (click)="fetchUrl()">
          Connect Application
      </button>
    </fd-action-bar-actions>
  </fd-action-bar>
</section>
<ng-container *ngIf="remoteEnvironment">
  <section class="fd-section">
    <fd-panel>
      <fd-panel-header>
        <fd-panel-head>
          <fd-panel-title>General Information</fd-panel-title>
        </fd-panel-head>
        <fd-panel-actions>
          <button fd-button [options]="'light'" (click)="openEditRemoteEnvModal()">
            Edit
          </button>
        </fd-panel-actions>
      </fd-panel-header>

      <fd-panel-body [bleed]="true">
        <fd-panel-grid [col]="6" [nogap]="true">
          <fd-panel [columnSpan]="1">
            <fd-panel-body>
              <label class="tn-form__label">Name</label>
            </fd-panel-body>
          </fd-panel>
          <fd-panel [columnSpan]="5">
            <fd-panel-body>
              {{ remoteEnvironment.name }}
            </fd-panel-body>
          </fd-panel>
          <fd-panel [columnSpan]="1">
            <fd-panel-body>
              <label class="tn-form__label">Status</label>
            </fd-panel-body>
          </fd-panel>
          <fd-panel [columnSpan]="5">
            <fd-panel-body>
              <span class="sf-indicator" [ngClass]="determineClass(remoteEnvironment)"></span> <span>{{ prettyStatus }}</span>
            </fd-panel-body>
          </fd-panel>
          <fd-panel [columnSpan]="1">
            <fd-panel-body>
              <label class="tn-form__label">Description</label>
            </fd-panel-body>
          </fd-panel>
          <fd-panel [columnSpan]="5">
            <fd-panel-body>
              <ng-container *ngIf="remoteEnvironment.description">
                {{ remoteEnvironment.description }}
              </ng-container>
              <ng-container *ngIf="!remoteEnvironment.description">
                <span class="no-content">none</span>
              </ng-container>
            </fd-panel-body>
          </fd-panel>
          <fd-panel [columnSpan]="1">
            <fd-panel-body>
              <label class="tn-form__label">Labels</label>
            </fd-panel-body>
          </fd-panel>
          <fd-panel [columnSpan]="5" class="sf-list__label-column">
            <fd-panel-body>
              <ng-container *ngIf='transformedLabels.length'>
                <span class="tn-badge-labels tn-badge tn-badge--pill sf-list__label" *ngFor="let label of transformedLabels">
                  {{ label }}
                </span>
              </ng-container>
              <ng-container *ngIf='!transformedLabels.length'>
                <span class="no-content">none</span>
              </ng-container>
            </fd-panel-body>
          </fd-panel>
        </fd-panel-grid>
      </fd-panel-body>
    </fd-panel>
  </section>

  <section class="fd-section">
    <fd-panel>
      <fd-panel-header>
        <fd-panel-head>
          <fd-panel-title>Namespace Bindings</fd-panel-title>
        </fd-panel-head>
        <fd-panel-actions>
          <button fd-button [options]="'light'" (click)="openEditBindingsModal()">
            + Create Binding
          </button>
        </fd-panel-actions>
      </fd-panel-header>

      <fd-panel-body [bleed]="true">
        <fd-table *ngIf="boundEnvironments.length > 0">
          <fd-table-header>
            <th>Name</th>
            <th>Actions</th>
          </fd-table-header>
          <fd-table-body>
            <tr *ngFor="let environment of boundEnvironments">
              <td class="sf-table__td--primary">{{ environment }}</td>
              <td class="sf-table__td--min">
                <y-list-actions [entry]="environment" [entryEventHandler]="entryEventHandler"
                                [actions]="actions"></y-list-actions>
              </td>
            </tr>
          </fd-table-body>
        </fd-table>
      </fd-panel-body>
    </fd-panel>
    
    <section class="sf-section container-fluid" *ngIf="remoteEnvironment.services.length > 0">
      <h2 class="sf-section__headline">Provided Services & Events</h2>
      <div class="sf-table">
        <div class="sf-table__head row">
          <div class="sf-table__th col-10">ServiceClass Name</div>
          <div class="sf-table__th col-1">API</div>
          <div class="sf-table__th col-1">Events</div>
        </div>
        <div class="sf-table__body row" *ngFor="let service of remoteEnvironment.services">
          <div class="sf-table__td sf-table__td--primary col-10">{{ service.displayName }}</div>
          <div class="sf-table__td col-1">
          <span class="tn-icon"
                ngClass="{{hasType(service.entries, 'API') ? 'tn-icon--checked' : 'tn-icon--close'}}"
                role="presentation">
          </span>
          </div>
          <div class="sf-table__td col-1">
          <span class="tn-icon"
                ngClass="{{hasType(service.entries, 'Events') ? 'tn-icon--checked' : 'tn-icon--close'}}"
                role="presentation">
          </span>
          </div>
        </div>
      </div>
    </section>
  
  </section>
</ng-container>
<app-copy2clipboard-modal #fetchModal></app-copy2clipboard-modal>
<app-edit-bindings-modal #editbindingsmodal></app-edit-bindings-modal>
<app-information-modal #infoModal></app-information-modal>
<app-edit-remote-environment-modal #editRemoteEnvModal *ngIf="remoteEnvironment"
    [name]="remoteEnvironment.name"
    [initialDescription]="remoteEnvironment.description"
    [initialLabels]="transformedLabels">
  </app-edit-remote-environment-modal>




<!-- <div class="container-fluid sf-content">
      <div class="sf-toolbar">
        <div class="sf-toolbar__item sf-toolbar__item--breadcrumb">
          <a (click)="navigateToList()">Applications</a> / {{ currentREnvId }}
        </div>
        <div class="sf-toolbar__right">
          <div class="sf-toolbar__item">
            <button *ngIf="connectorServiceUrl || connectorServiceError"
              class="tn-button tn-button--small tn-button--text"
              (click)="fetchUrl()">
                Connect Application
            </button>
          </div>
        </div>
      </div>
      <ng-container *ngIf="remoteEnvironment">
        <section class="sf-section">
          <div class="sf-panel">
            <div class="sf-panel__head">
              <div class="sf-toolbar">
                <h2>General Information</h2>
                <div class="sf-toolbar__right">
                  <button class="tn-button tn-button--small tn-button--text sf-toolbar__item" (click)="openEditRemoteEnvModal()">
                    Edit
                  </button>
                </div>
              </div>
            </div>
            <div class="sf-panel__content">
          <div class="row">
            <div class="col-sm-2">
              <label class="tn-form__label">Name</label>
            </div>
            <div class="col-sm-10">
              {{ remoteEnvironment.name }}
            </div>
            <div class="col-sm-2">
              <label class="tn-form__label">Status</label>
            </div>
            <div class="col-sm-10">
              <span class="sf-indicator" [ngClass]="determineClass(remoteEnvironment)"></span> <span>{{ prettyStatus }}</span>
            </div>
            <div class="col-sm-2">
              <label class="tn-form__label">Description</label>
            </div>
            <div class="col-sm-10">
              <ng-container *ngIf="remoteEnvironment.description">
                {{ remoteEnvironment.description }}
              </ng-container>
              <ng-container *ngIf="!remoteEnvironment.description">
                <span class="no-content">none</span>
              </ng-container>
            </div>
            <div class="col-sm-2">
              <label class="tn-form__label">Labels</label>
            </div>
            <div class="col-sm-10 sf-list__label-column">
              <ng-container *ngIf='transformedLabels.length'>
                <span class="tn-badge-labels tn-badge tn-badge--pill sf-list__label" *ngFor="let label of transformedLabels">
                  {{ label }}
                </span>
              </ng-container>
              <ng-container *ngIf='!transformedLabels.length'>
                <span class="no-content">none</span>
              </ng-container>
            </div>
          </div>
          </div>
        </div>
        </section>
        <section class="sf-section">
          <div class="sf-panel">
            <div class="sf-panel__head">
              <div class="sf-toolbar">
                  <h2>Namespace Bindings</h2>
                <div class="sf-toolbar__right">
                  <button class="tn-button tn-button--small tn-button--text sf-toolbar__item" (click)="openEditBindingsModal()">
                    + Create Binding
                  </button>
                </div>
              </div>
            </div>
          <table class="sf-table" *ngIf="boundEnvironments.length > 0">
            <thead class="sf-table__head">
            <th class="sf-table__th">Name</th>
            <th class="sf-table__th">Actions</th>
            </thead>
            <tbody class="sf-table__body">
            <tr *ngFor="let environment of boundEnvironments">
              <td class="sf-table__td sf-table__td--primary">{{ environment }}</td>
              <td class="sf-table__td sf-table__td--min">
                <y-list-actions [entry]="environment" [entryEventHandler]="entryEventHandler"
                                [actions]="actions"></y-list-actions>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        </section>
        <section class="sf-section container-fluid" *ngIf="remoteEnvironment.services.length > 0">
          <h2 class="sf-section__headline">Provided Services & Events</h2>
          <div class="sf-table">
            <div class="sf-table__head row">
              <div class="sf-table__th col-10">ServiceClass Name</div>
              <div class="sf-table__th col-1">API</div>
              <div class="sf-table__th col-1">Events</div>
            </div>
            <div class="sf-table__body row" *ngFor="let service of remoteEnvironment.services">
              <div class="sf-table__td sf-table__td--primary col-10">{{ service.displayName }}</div>
              <div class="sf-table__td col-1">
              <span class="tn-icon"
                    ngClass="{{hasType(service.entries, 'API') ? 'tn-icon--checked' : 'tn-icon--close'}}"
                    role="presentation">
              </span>
              </div>
              <div class="sf-table__td col-1">
              <span class="tn-icon"
                    ngClass="{{hasType(service.entries, 'Events') ? 'tn-icon--checked' : 'tn-icon--close'}}"
                    role="presentation">
              </span>
              </div>
            </div>
          </div>
        </section>
      </ng-container>
    </div>
    <app-copy2clipboard-modal #fetchModal></app-copy2clipboard-modal>
    <app-edit-bindings-modal #editbindingsmodal></app-edit-bindings-modal>
    <app-information-modal #infoModal></app-information-modal>
    <app-edit-remote-environment-modal #editRemoteEnvModal *ngIf="remoteEnvironment"
        [name]="remoteEnvironment.name"
        [initialDescription]="remoteEnvironment.description"
        [initialLabels]="transformedLabels">
      </app-edit-remote-environment-modal>
     -->
