.fd-action-bar__actions {
  flex-shrink: 0;
}

.fd-table {
  .disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.y-fd-token {
  margin-bottom: fd-space('tiny');
  margin-right: fd-space('tiny');
  &.y-fd-token--no-button {
    cursor: default;
    &:after {
      all: unset;
    }
  }
}

.fd-action-bar__actions .fd-popover {
  top: 0;
}
