<section class="fd-section">
  <fd-action-bar>
    <fd-action-bar-header>
      <fd-action-bar-description>
        <fd-breadcrumb>
          <fd-breadcrumb-item>
            <a fd-breadcrumb-link (click)="navigateToList()" href="#">
              Secrets 
            </a>
          </fd-breadcrumb-item>
          <fd-breadcrumb-item>
            <span fd-breadcrumb-link>
              {{ secretName }} 
            </span>
          </fd-breadcrumb-item>
        </fd-breadcrumb>
      </fd-action-bar-description>
    </fd-action-bar-header>
    <fd-action-bar-actions>
      <app-edit-resource [resourceData]="secretDetails"></app-edit-resource>
    </fd-action-bar-actions>
  </fd-action-bar>
</section>

<section class="fd-section" *ngIf="loading">
  <p>
    Loading ...
  </p>
</section>

<section class="fd-section" *ngIf="!loading && errorMessage">
  <fd-alert [dismissible]="false" [type]="'error'">
    <p>{{ errorMessage }}</p>
  </fd-alert>
</section>

<div *ngIf="secretDetails">
  <section class="fd-section">
    <fd-panel>
      <fd-panel-header>
        <fd-panel-head>
          <fd-panel-title>Details</fd-panel-title>
        </fd-panel-head>
      </fd-panel-header>
      <fd-panel-body [bleed]="true">
        <fd-panel-grid [col]="6" [nogap]="true">
          <fd-panel [columnSpan]="2">
            <fd-panel-body>
              <label class="fd-has-color-text-4">Name</label>
            </fd-panel-body>
          </fd-panel>
          <fd-panel [columnSpan]="4">
            <fd-panel-body>
              {{ secretDetails.metadata.name }}
            </fd-panel-body>
          </fd-panel>
          <fd-panel [columnSpan]="2">
            <fd-panel-body>
              <label class="fd-has-color-text-4">Namespace</label>
            </fd-panel-body>
          </fd-panel>
          <fd-panel [columnSpan]="4">
            <fd-panel-body>
              {{ secretDetails.metadata['namespace'] }}
            </fd-panel-body>
          </fd-panel>
          <fd-panel *ngIf="annotations" [columnSpan]="2">
            <fd-panel-body>
              <label class="fd-has-color-text-4">Annotations</label>
            </fd-panel-body>
          </fd-panel>
          <fd-panel *ngIf="annotations" [columnSpan]="4">
            <fd-panel-body>
              <div *ngFor="let annotationInfo of annotations">
                <button fd-button [options]="'light'" title="Show annotation information" (click)="annotationDetails(infos)">
                  {{ annotationInfo.name }}
                </button>
                <app-information-modal #infos [title]="annotationInfo.name" [message]="annotationInfo.value"></app-information-modal>
              </div>
            </fd-panel-body>
          </fd-panel>
          <fd-panel [columnSpan]="2">
            <fd-panel-body>
              <label class="fd-has-color-text-4">Creation time</label>
            </fd-panel-body>
          </fd-panel>
          <fd-panel [columnSpan]="4">
            <fd-panel-body>
              {{ secretDetails.metadata.creationTimestamp }}
            </fd-panel-body>
          </fd-panel>
        </fd-panel-grid>
      </fd-panel-body>
    </fd-panel>
  </section>
  
  <section class="fd-section">
    <fd-panel>
      <fd-panel-header>
        <fd-panel-head>
          <fd-panel-title>Data</fd-panel-title>
        </fd-panel-head>
      </fd-panel-header>
      <fd-panel-body [bleed]="true">
        <div *ngFor="let dataInfo of data" >
          <div *ngIf="!dataInfo.show">
            <fd-panel-grid [col]="6" [nogap]="true">
              <fd-panel [columnSpan]="1">
                <fd-panel-body>
                  <label class="fd-has-color-text-4">{{ dataInfo.name }}</label>
                </fd-panel-body>
              </fd-panel>
              <fd-panel [columnSpan]="1">
                <fd-panel-body>
                  <button fd-button [options]="'light'" (click)="toggleSecret(dataInfo)"> Show details </button>
                </fd-panel-body>
              </fd-panel>
              <fd-panel [columnSpan]="4">
                <fd-panel-body>
                  <span> {{ dataInfo.length }} bytes </span>
                </fd-panel-body>
              </fd-panel>
            </fd-panel-grid>
          </div>
          <div *ngIf="dataInfo.show">
            <fd-panel-grid [col]="6" [nogap]="true">
              <fd-panel [columnSpan]="1">
                <fd-panel-body>
                  <label class="fd-has-color-text-4">{{ dataInfo.name }}</label>
                </fd-panel-body>
              </fd-panel>
              <fd-panel [columnSpan]="1">
                <fd-panel-body>
                  <button fd-button [options]="'light'" (click)="toggleSecret(dataInfo)"> Hide details </button>
                </fd-panel-body>
              </fd-panel>
              <fd-panel [columnSpan]="4" class="word-wrap">
                <fd-panel-body>
                  <span> {{ dataInfo.value }} </span>
                </fd-panel-body>
              </fd-panel>
            </fd-panel-grid>
          </div>
        </div>
      </fd-panel-body>
    </fd-panel>
  </section>
</div>


<!-- <div class="container-fluid sf-content">
  <div class="sf-toolbar">
    <div class="sf-toolbar__item sf-toolbar__item--breadcrumb">
      <a (click)="navigateToList()">Secrets</a> / {{ secretName }} 
    </div>
    <div class="sf-toolbar__right">
      <app-edit-resource [resourceData]="secretDetails" class="sf-toolbar__item"></app-edit-resource>
    </div>
  </div>
  <p *ngIf="loading">
    Loading ...
  </p>
  <p *ngIf="!loading && errorMessage" class="error-message">
    {{ errorMessage }}
  </p>
  <div *ngIf="secretDetails">
    <section class="sf-section">
      <div class="sf-panel">
        <div class="sf-panel__head">
        <h2>Details</h2>
      </div>
        <div class="sf-panel__content">
                    <div class="row">
            <div class="col-sm-4">
              <label class="tn-form__label">Name</label>
            </div>
            <div class="col-sm-8">
              <span>{{ secretDetails.metadata.name }}</span>
            </div>
            <div class="col-sm-4">
              <label class="tn-form__label">Namespace</label>
            </div>
            <div class="col-sm-8">
              <span>{{ secretDetails.metadata['namespace'] }}</span>
            </div>
            <div *ngIf="annotations" class="col-sm-4">
              <label class="tn-form__label">Annotations</label>
            </div>
            <div *ngIf="annotations" class="col-sm-8">
              <div *ngFor="let annotationInfo of annotations">
                  <button title="Show annotation information" class="tn-button--text" (click)="annotationDetails(infos)">
                    {{ annotationInfo.name }}
                  </button>
                  <app-information-modal #infos [title]="annotationInfo.name" [message]="annotationInfo.value"></app-information-modal>
              </div>
            </div>
            <div class="col-sm-4">
              <label class="tn-form__label">Creation time</label>
            </div>
            <div class="col-sm-8">
              <span>{{ secretDetails.metadata.creationTimestamp }}</span>
        </div>
      </div>
      </div>
    </div>
    </section>
    <section class="sf-section">
      <div class="sf-panel">
        <div class="sf-panel__head">
          <h2>Data</h2>
        </div>
      <div *ngFor="let dataInfo of data" >
        <div *ngIf="!dataInfo.show" class="sf-panel__content">
          <div class="row">
            <div class="col-sm-2">
              <label class="tn-form__label">{{ dataInfo.name }}</label>
            </div>
            <div class="col-sm-2">
              <button (click)="toggleSecret(dataInfo)" class="tn-button--text"> Show details </button>
            </div>
            <div class="col-sm-8">
              <span> {{ dataInfo.length }} bytes </span>
            </div>
          </div>
        </div>
        <div *ngIf="dataInfo.show" class="sf-panel__content">
          <div class ="row">
            <div class="col-sm-2">
              <label class="tn-form__label">{{ dataInfo.name }}</label>
            </div>
            <div class="col-sm-2">
              <button (click)="toggleSecret(dataInfo)" class="tn-button--text"> Hide details </button>
            </div>
            <div class="col-sm-8 word-wrap">
              <span> {{ dataInfo.value }} </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>
  </div>
</div> -->
