<table class="fd-table y-fd-table" [hidden]="loading || errorMessage || !data || data.length === 0">
  <ng-template #header></ng-template>
  <ng-template #entries></ng-template>
  <ng-template #footer></ng-template>
</table>

<fd-loading-spinner [loading]="loading"></fd-loading-spinner>

<div class="fd-has-text-align-center" *ngIf="!loading && !errorMessage && (!data || data.length === 0)">
  <ng-container *ngIf="emptyListPlaceholderData">
     <h1 *ngIf="emptyListPlaceholderData.title">{{ emptyListPlaceholderData.title }}</h1>
     <p *ngIf="emptyListPlaceholderData.body">{{ emptyListPlaceholderData.body }}</p>
     <button *ngIf="emptyListPlaceholderData.button" class="fd-button--light"
       (click)="onEmptyListActionButtonClicked()">
       {{ emptyListPlaceholderData.button }}
      </button>
  </ng-container>

  <ng-content *ngIf="!emptyListPlaceholderData" select="[empty-list-placeholder]"></ng-content>
</div>

<p *ngIf="!loading && errorMessage" class="fd-has-color-status-3">
  {{ errorMessage }}
</p>
