<tr [ngClass]="{ disabled: disabled === true }">
  <td class='fd-has-font-weight-bold'>
    <a (click)="navigateToDetails(entry.service.name, entry.name)">{{
      entry.name
    }}</a>
  </td>
  <td>{{ entry.hostname }}</td>
  <td>{{ entry.service.port }}</td>
  <td *ngIf="isSecured(entry)">
    <fd-badge [status]="'success'" [modifier]="'filled'">Yes</fd-badge>
  </td>
  <td *ngIf="!isSecured(entry)">
    <fd-badge [status]="'warning'" [modifier]="'filled'">No</fd-badge>
  </td>
  <td>{{ isSecured(entry) ? getIDP(entry) : '-' }}</td>
  <td class="fd-has-text-align-center">
    <y-list-actions [entry]="entry" [entryEventHandler]="entryEventHandler" [actions]="actions"></y-list-actions>
  </td>
</tr>