<tr [ngClass]="{'y-fd-table__tr--disabled': disabled === true}">
  <td class="fd-has-font-weight-bold remoteenv-name" (click)="navigateToDetails(entry.name)">{{ entry.name }}</td>
  <td>
    <div *ngIf='getLabels(entry.labels).length'>
      <span class="fd-badge fd-badge--pill y-fd-badge" *ngFor="let label of getLabels(entry.labels)">
        {{ label }}
      </span>
    </div>
  </td>
  <td>{{ listConnectedEnvs(entry)? listConnectedEnvs(entry) : '' }}</td>
  <td>
    <app-status-label 
      [statusType]="getStatusType(entry)">
      {{ getStatus(entry) }}
    </app-status-label>
  </td>
  <td class="actions-icon">
    <y-list-actions [entry]="entry" [entryEventHandler]="entryEventHandler" [actions]="actions"></y-list-actions>
  </td>
</tr>
