<div class="fd-tree__row">
  <div class="fd-tree__col">{{ entry.name }}</div>
  <div class="fd-tree__col" *ngIf="entry.limits.length > 0">
    {{ listMaxMemoryLimits() }}
  </div>
  <div class="fd-tree__col" *ngIf="entry.limits.length === 0">-</div>
  <div class="fd-tree__col" *ngIf="containerLimits">
    {{ containerLimits.default.memory }}
  </div>
  <div class="fd-tree__col" *ngIf="!containerLimits">-</div>
  <div class="fd-tree__col" *ngIf="containerLimits">
    {{ containerLimits.defaultRequest.memory }}
  </div>
  <div class="fd-tree__col" *ngIf="!containerLimits">-</div>
  <div class="fd-tree__col">
    <y-list-actions [entry]="entry" [entryEventHandler]="entryEventHandler" [actions]="actions"></y-list-actions>
  </div>
</div>